@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.007 240);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.007 240);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.007 240);

  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.012 250);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(66.93% 0.21787 26.062);

  --border: oklch(0.898 0.01 250);
  --input: oklch(0.898 0.01 250);
  --ring: oklch(0.488 0.243 264.376);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.898 0.01 250);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

.dark {
  --background: oklch(21.998% 0.00971 285.546);
  --foreground: oklch(0.985 0 0);

  --card: oklch(26.494% 0.01158 270.96);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.17 0.006 285.823);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(65.041% 0.18724 259.598);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(79.837% 0.00009 271.152);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.596 0.145 23.497);

  --border: oklch(37.306% 0.03436 260.191 / 0.60);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.4 0.2 260);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.141 0.005 285.823);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.55 0.2 260);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.4 0.2 260);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
